<p>form works!</p>
<app-list [child]="first"></app-list>

<div class="row">
    <aside class="col-sm-4 mx-5">
        <div class="card">
            <article class="card-body">
                <a href="" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <form>
                    <div class="">
                        <label>YourName:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Your email</label>
                        <input name="" class="form-control" placeholder="Email" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <a class="float-right" href="#">Forgot?</a>
                        <label>Your password</label>
                        <input class="form-control" placeholder="******" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="checkbox">
                            <label> <input type="checkbox"> Save password </label>
                        </div> <!-- checkbox .// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary "> Login </button>
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div>
    </aside>
</div>